# === Core ===
streamlit
python-dotenv
pydantic>=2.0
requests
httpx
tqdm
numpy
plotly

# === Embeddings + Vector DB ===
pymongo[srv]
qdrant-client

# === Doc Parsing ===
PyMuPDF  # For extracting text from resumes
python-docx

# === LangChain ===
langchain-groq
langchain>=0.1.16
langchain-community>=0.0.30
